* {
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	font-size: 62.5%;
	margin: auto;
}

/****************************Beginning of WebPage***************************/

header {
	background: #bd2929; /*#5f7c8a - blueish*/
	width: 100%;
	position: fixed;
	height: 5em;
	/*border-bottom: thick solid #fe5151;*/
}

.container {
	width: 100%;
	height: 5em;
	position: relative;
}

.container #logo {
	font-family: Courier New, Courier, monospace;
	font-size: 1.5em;
	margin-left: 4em;
	position: absolute;
	left: 0em;
	top: 50%;
	transform: translate(0,-50%);
}

.container nav {
	font-size: 1.6em;
	margin-right: 3em;
	position: absolute;
	right: 0em;
	top: 50%;
	transform: translate(0,-50%);
}

.container nav li {
	list-style: none;
	float: left;
	margin-left: 2em;
	margin-right: 2em;
}

a {
	text-decoration: none;
	color: #fff;
}

/*********************************Picture***********************************/

#ucyber {
	max-width: 100%;
	height: auto;
}

/********************************Content************************************/
.container2 {
	width: 100%;
	height: 5em;
	position: relative;
}

.content {
	position: relative;
	/*height: 40em;*/
	font-size: 15px;
}

.mission {
	margin-left: 2em;
	/*height: 30em;*/
	border-bottom-width: thin;
	border-color: #000;
}

.content h1 {
	font-size: 45px;
}

/*******************************About Us************************************/
