body{
  font: 15px/1.5 Arial, Helvetica, sans-serif; /*font-size, line-height, font-family*/
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}


/* Header */
header{
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #ce0f0f 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;  /*top right bottom left*/
}

header #logo{
  float: left;
}

header #logo h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 11px;
}

header .highlight, header .current a{
  color: #EB0202; /*#ce0f0f*/
  font-weight: bold;
}

header a:hover{
  color: #F9C0C0; /*#0fcece*/
  font-weight: bold;
}


/* Showcase */

#showcase{
  min-height: 450px;
  background: url('../images/BSides1080Blue.jpg') no-repeat center -175px; /*-200px -200px;*/
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top: 225px;
  font-size: 55px;
  margin-bottom: 20px;
}

#showcase p{
  font-size: 20px;
}


/* About */
#about{
  min-height: 300px;
}

#about h3{
  margin: 0px;
}

#about #top{
  margin-top: 10px;
}


/* Footer */
footer{
  background: #35424a;
  min-height: 70px;
  text-align: center;
}

footer p{
  color: #ffffff;
}


/* Media Queries */

@media(max-width: 768px){
  header #logo,
  header nav,
  header nav li{
    float: none;
    text-align: center;
    width: 100%;
  }

  header{
    padding-bottom: 20px;
  }

  #showcase h1{
    margin-top: 200px;
    font-size: 30px;
  }
  #showcase p{
    font-size: 20px;
  }
}
